
.heading{
  font-size: xx-large;
  font-weight: bolder;
  color: var(--textColor);
}

.section{
  border-style: solid;
  border-color: var(--textColor);
  border-width: thin;
  margin: 10px;
  padding: 10px;
}